<article id="<%- year %>" class="chapter">
	<div class="title-sticky">
		<img class="crosses" src="/images/crosses.svg">
		<h2><%- year %></h2>
	</div>

	<ul><%
		var merged = Object.values(selection[year]);

		merged.forEach(function (items) {
			items.forEach(function (item) { %>
		 		<li class="data-image">
		 		  <div>
		 		    <img src="<%- item.img.value %>" alt="<%- item.title.value %>">
		 		    <p contenteditable="true">
							<%= item.title.value %>
						</p>
		 		    <a class="openDetail" href="">
							<img src="/images/zoom-in.svg" alt="zoom-in icon">
						</a>
		 		  </div>
		 		</li><%
			});
		}); %>
	</ul>
</article>
