<section>
	<h2>We zijn in jaartal $1971 en we bevinden ons op de $spuistraat </h2>
	<form class="data" action="" method="post">
	<% for(var i = 0; i < dataFirstQuery.results.bindings.length; i++) { %>
		<div class="image">
			<label>
				<div>
					<input id="checkBox" type="checkbox">
					<section></section>
					<img src="<%- dataFirstQuery.results.bindings[i].img.value %>" alt="<%- dataFirstQuery.results.bindings[i].title.value%>"/>
				</div>
				<p>	<%- dataFirstQuery.results.bindings[i].title.value %></p>
				<a class="openDetail" href=""><img src="/images/zoom-in.png" alt="zoom-in icon"/></a>
				<div class="detail">
					<span class="helper"></span>
					<div>
						<div class="popupCloseButton">X</div>
						<img src="<%- dataFirstQuery.results.bindings[i].img.value %>" alt="<%- dataFirstQuery.results.bindings[i].title.value%>"/>
						<p>	<%- dataFirstQuery.results.bindings[i].title.value %></p>
					</div>
				</div>
			</label>
		</div>



	<% } %>
	<button type="submit">Bewaar deze items</button>
	</form>
</section>
