<article id="<%- year %>-<%- chapter.replace(/\s/g,'').toLowerCase() %>" class="chapter">
	<div class="title-sticky">
		<img class="crosses" src="/images/crosses.svg"/>
		<h2>Het is <strong><%= year %></strong> en we zijn in <strong><%= chapter.toLowerCase() %><% if (chapter != 'Jouw buurt') { %>: <%= streetName %><% } %></strong></h2>
	</div>
	<ul>
		<% Object.values(selection[year])[0].forEach(function (item) { %>
			<li class="data-image">
				<div>
					<img src="<%- item.img.value %>" alt="<%- item.title.value %>"/>
					<p><%= item.title.value %></p>
					<a class="openDetail" href=""><img src="/images/zoom-in.svg" alt="zoom-in icon"/></a>
				</div>
				<div class="detail">
					<span class="helper"></span>
					<div>
						<div class="popupCloseButton">X</div>
						<img src="<%#- Object.values(objectChapters)[k].img.value %>" alt="<%#- Object.values(objectChapters)[k].title.value %>"/>
						<p><%= item.title.value %></p>
					</div>
				</div>
			</li>
		<% }); %>
	</ul>
</article>
