<%- include('partials/head.ejs') %>
	<body class="my-story">

		<% var years = Object.keys(selection); %>
		<nav class="register">
			<a href="/create-story/<%- id %>"><img src="/images/left-arrow.svg"/></a>
			<ol class="register-years">
				<% years.forEach(function (year) { %>
					<% var chapters = Object.keys(selection[year]); %>
					<li>
						<a href="#<%- year %>-<%- chapters[0].replace(/\s/g,'').toLowerCase() %>"><%= year %></a>
						<ul class="register-chapters">
							<% chapters.forEach(function (chapter) { %>
								<% if (chapter != 'Jouw buurt') { %>
									<% chapter = 'Jouw straat'; %>
								<% } %>
								<li class="chapter-name"><a href="#<%- year %>-<%- chapter.replace(/\s/g,'').toLowerCase() %>"><%= chapter %></a></li>
							<% }); %>
							<li><button class="add-chapter-btn" type="button">+</button></li>
						</ul>
					</li>
				<% }); %>
			</ol>
		</nav>

		<main class="content">
			<% years.forEach(function (year) { %>
				<div class="year">
				<% var chapters = Object.keys(selection[year]); %>
				<% chapters.forEach(function (chapter) { %>
					<% if (chapter != 'Jouw buurt') { %>
						<% var streetName = chapter; %>
						<% chapter = 'Jouw straat'; %>
					<% } %>
					<%- include('partials/chapter.ejs', {
						selection: selection,
						year: year,
						chapter: chapter,
						streetName: streetName
					}) %>
				<% }); %>
			</div>
			<% }); %>
		</main>

		<script>
			//open detail page image
			var trigger = document.querySelectorAll('.openDetail');
			var detailpopup = document.querySelectorAll('.detail');
			var closeButton = document.querySelectorAll('.popupCloseButton');

			for(var i = 0; i < trigger.length; i++) {
				trigger[i].addEventListener('click', function(e){
					e.preventDefault();
					e.path[3].childNodes[3].classList.add('show');
				});

				detailpopup[i].addEventListener('click', function(e){
					e.preventDefault();
					e.target.parentElement.classList.remove('show')
				});

				closeButton[i].addEventListener('click', function(e){
					e.preventDefault();
					e.target.parentElement.parentElement.classList.remove('show')
				});
			}
		</script>
		<script>
			var years = document.querySelectorAll('.my-story nav .register-years > li')
			var countYears = years.length;

			years.forEach(function(year){
				year.style.height = 'calc((100% - 5rem) / ' + countYears + ')';

				var chapters = year.childNodes[3].children;
				var countChapters = chapters.length

				for(var i = 0; i < chapters.length; i++) {
					var perc = 'calc(100% / ' + countChapters + ')';
					chapters[i].style.width = perc;
				}
			});
		</script>

		<script type="text/javascript">
			//active state when scrolling
			var yearSections = document.querySelectorAll('main .year');
			var sections = document.querySelectorAll('article.chapter');
			var yearsTitle = document.querySelectorAll('.register-years > li');
			var chaptersTitle = document.querySelectorAll('.register-chapters > .chapter-name');
			var links = document.querySelectorAll('.register-years > li > a');

			links.forEach(function (link, i, self) {
				self[0].nextElementSibling.classList.add('show-chapter');

				link.addEventListener('click', function () {
					var current = document.querySelector('.register-chapters.show-chapter');
					current.classList.remove('show-chapter');
					this.nextElementSibling.classList.add('show-chapter');
				});
			});

			window.addEventListener('scroll', function(){
				for (var i = 0; i < yearSections.length; i++) {
					if(yearSections[i].offsetTop-5 <= window.scrollY && (yearSections[i].offsetHeight + yearSections[i].offsetTop) > window.scrollY+5) {
						yearsTitle[i].classList.add('active-menu');
						yearsTitle[i].children[1].classList.add('show-chapter');
					} else {
						yearsTitle[i].classList.remove('active-menu');
						yearsTitle[i].children[1].classList.remove('show-chapter');
					}
				}

				for (var i = 0; i < sections.length; i++) {
					if(sections[i].offsetTop-5 <= window.scrollY && (sections[i].offsetHeight + sections[i].offsetTop )> window.scrollY+5) {
						chaptersTitle[i].classList.add('active-menu');
					} else {
						chaptersTitle[i].classList.remove('active-menu');
					}
				}
			});
		</script>

<%- include('partials/foot.ejs') %>
