<%- include('partials/head.ejs') %>
	<body class="my-story">

		<% var years = Object.keys(selection); %>
		<nav class="register">
			<a href="/"><img src="/images/home.svg"/></a>
			<ol class="register-years">
				<% years.forEach(function (year) { %>
					<% var chapters = Object.keys(selection[year]); %>
					<li>
						<a href="#<%- year %>-<%- chapters[0].replace(/\s/g,'').toLowerCase() %>"><%= year %></a>
						<ul class="register-chapters">
							<% chapters.forEach(function (chapter) { %>
								<% if (chapter != 'Jouw buurt') { %>
									<% chapter = 'Jouw straat'; %>
								<% } %>
								<li class="chapter-name"><a href="#<%- year %>-<%- chapter.replace(/\s/g,'').toLowerCase() %>"><%= chapter %></a></li>
							<% }); %>
							<li class="add-chapter">
								<button class="add-chapter-btn" type="button">+  Voeg een hoofdstuk toe</button>
								<ul id="year-<%- year %>" class="add-chapters-options">

									<!--
									if (birthyear.value !empty) {
										if (birthyear.value > 4 && < 13) {
											<li class="chapter-new"><a href="#"></a>Jouw basisschool</li>
										} else if (birthyear.value > 13 && < 19) {
											<li class="chapter-new"><a href="#"></a>Jouw middelbare school</li>
										} else if (birthyear.value > 19 && < 26) {
											<li class="chapter-new"><a href="#"></a>Jouw universiteit</li>
										} else if (birthyear.value > 26) {
											<li class="chapter-new"><a href="#"></a>Jouw werk</li>
										}
									}
									-->
									<li class="chapter-new"><a href="">+ Politieke posters</a></li>
									<li class="chapter-new"><a href="">+ Muziek posters</a></li>
									<li class="chapter-new"><a href="">+ Jouw vereniging</a></li>
									<li class="chapter-new"><a href="">+ Openbaar vervoer</a></li>
									<li class="chapter-new"><a href="">+ Verhuizing</a></li>
								</ul>
							</li>
						</ul>
					</li>
				<% }); %>
			</ol>
		</nav>

		<main class="content">
			<button id="help">?</button>
			<div id="tell-me-more" class="modal">
			  <div class="modal-content">
			    <span class="close">&times;</span>
					<h1>Jouw fotoboek</h1>
			    <p>Dit is jouw eigen gemaakte fotoboek. Op deze pagina kun je de geselecteerde foto's bekijken per jaar en hoofdstuk. Ook kun je nieuwe hoofdstukken toevoegen per jaar.
					Daarnaast is onder elke foto de mogelijkheid om de tekst aan te passen.</p>
			  </div>
			</div>
			<!-- <h1>Dit is jouw eigen fotoboek!</h1>
			<p>Bekijk per hoofdstuk en per jaar de foto's die daar bij horen en voeg zelf teksten toe. Ook kun je nieuwe hoofdstukken toevoegen.</p> -->
			<section class="personal-data">
				<form action="/create-story/<%- id %>" method="post">
					<input class="title" type="text" name="title" placeholder="Dit is jouw eigen verhaal, geef hem hier een titel.." autocomplete="off">
					<!-- <div>
						<label for="name">Dit is het verhaal over:</label>
						<input id="name" name="name" type="text" placeholder="Jan Jansen.." autocomplete="off">
					</div>
					<div>
						<label for="year">Geboren in:</label>
						<input id="year" name="year" type="number" placeholder="1969" min="1900" max="2018">
					</div>

					<button type="submit">Opslaan</button> -->
				</form>
			</section>
			<% years.forEach(function (year) { %>
				<div class="year year-<%- year %>">
				<% var chapters = Object.keys(selection[year]); %>
				<% chapters.forEach(function (chapter) { %>

					<%- include('partials/chapter.ejs', {
						selection: selection,
						year: year,
						chapter: chapter
					}) %>
				<% }); %>
			</div>
			<% }); %>
		</main>

		<script>

		</script>
		<script>
			// Get the modal
			var modal = document.getElementById('tell-me-more');

			// Get the button that opens the modal
			var btn = document.getElementById("help");

			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close")[0];

			// When the user clicks the button, open the modal
			btn.onclick = function() {
			    modal.style.display = "block";
			}

			// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
			    modal.style.display = "none";
			}

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
			    if (event.target == modal) {
			        modal.style.display = "none";
			    }
			}
		</script>

		<script>
			//open detail page image
			var trigger = document.querySelectorAll('.openDetail');
			var detailpopup = document.querySelectorAll('.detail');
			var closeButton = document.querySelectorAll('.popupCloseButton');

			for(var i = 0; i < trigger.length; i++) {
				trigger[i].addEventListener('click', function(e){
					e.preventDefault();
					e.path[3].childNodes[3].classList.add('show');
				});

				detailpopup[i].addEventListener('click', function(e){
					e.preventDefault();
					e.target.parentElement.classList.remove('show')
				});

				closeButton[i].addEventListener('click', function(e){
					e.preventDefault();
					e.target.parentElement.parentElement.classList.remove('show')
				});
			}
		</script>
		<script>
			//active menu li item on scroll
			var yearSections = document.querySelectorAll('main .year');
			var yearsTitle = document.querySelectorAll('.register-years > li');
			var links = document.querySelectorAll('.register-years > li > a');

			links.forEach(function (link, i, self) {
				self[0].nextElementSibling.classList.add('show-chapter');

				link.addEventListener('click', function () {
					var current = document.querySelector('.register-chapters.show-chapter');
					current.classList.remove('show-chapter');
					this.nextElementSibling.classList.add('show-chapter');
				});
			});

			//add new chapter
			var newChapters = document.querySelectorAll('.chapter-new');
			newChapters.forEach(function(trigger){
				trigger.addEventListener('click', function(e){
					e.preventDefault();
					var nameChapter = this.textContent;
					var chapter1 = nameChapter.split('+ ');
					var chapter2 = nameChapter.toLowerCase().split('+ ');
					var chapter3 = chapter2[1].replace(' ', '-')
					var parentMenu = this.parentElement.parentElement.parentElement;
					var itemBefore = this.parentElement.parentElement;
					console.log(chapter3)

					//get value depends on chapter
					var value;
					if(chapter3 == 'politieke-posters') {
						value = 'wijk';
					} else if (chapter3 == 'muziek-posters') {
						value = 'muziek genre';
					} else if (chapter3 == 'jouw-vereniging') {
						value = 'vereniging';
					} else if (chapter3 == 'openbaar-vervoer') {
						value = 'openbaar vervoer lijn nummer';
					} else if (chapter3 == 'verhuizing') {
						value = 'nieuwe straatnaam';
					}

					//create nav item
					var li = document.createElement('li');
					li.classList.add('chapter-name');
					parentMenu.insertBefore(li, itemBefore)

					var a = document.createElement('a');
					a.textContent = chapter1[1];
					a.href = '#' + this.parentElement.id.substr(5,9) + '-' + chapter3;
					li.appendChild(a);

					//create article
					var parentArticle = document.querySelector('.' + this.parentElement.id);
					var article = document.createElement('article');
					var id = this.parentElement.id.substr(5,9) + '-' + chapter3;
					article.id = id
					article.classList.add('chapter');
					parentArticle.appendChild(article);

					//article text
					var div = document.createElement('div');
					div.classList.add('title-sticky');
					article.appendChild(div);

					var img = document.createElement('img');
					img.classList.add('crosses');
					img.src = '/images/crosses.svg';
					div.appendChild(img);

					var h2 = document.createElement('h2');
					h2.textContent = "Vul de volgende gegevens in om een chapter toe te voegen";
					div.appendChild(h2);

					var form = document.createElement('form');
					form.classList.add('chapter-form-input')
					article.appendChild(form);

					form.addEventListener('submit', function(e){
						e.preventDefault();
					})

					var label = document.createElement('label');
					label.htmlFor = 'chapter-input';
					label.textContent = "Vul jouw " + value + " in"
					form.appendChild(label);

					var input = document.createElement('input');
					input.setAttribute('type', 'text');
					input.setAttribute('name', 'chapter-input');
					form.appendChild(input);

					// var articles = document.querySelectorAll('.chapter')
					// articles[articles.length-1].scrollIntoView()-100;


					onScroll();
					navWidth();

				});
			});

			//menu equal li items
			function navWidth(){
				var years = document.querySelectorAll('.my-story nav .register-years > li')
				var countYears = years.length;

				years.forEach(function(year){
					year.style.height = 'calc((100% - 5rem) / ' + countYears + ')';

						var chapters = year.childNodes[3].children;
						var countChapters = chapters.length;

						for(var i = 0; i < chapters.length; i++) {
							var perc = 'calc(100% / ' + countChapters + ')';
							chapters[i].style.width = perc;
						}
				});
			}
			navWidth();


			function onScroll(){
				var sections = document.querySelectorAll('article.chapter');
				var chaptersTitle = document.querySelectorAll('.register-chapters > .chapter-name');

				window.addEventListener('scroll', function(){
					for (var i = 0; i < yearSections.length; i++) {
						var showChapter = document.querySelector('.show-chapter');
						if(showChapter == null){
							yearsTitle[0].children[1].classList.add('show-chapter');
						}
						if(yearSections[i].offsetTop-5 <= window.scrollY && (yearSections[i].offsetHeight + yearSections[i].offsetTop) > window.scrollY+5) {
							yearsTitle[i].classList.add('active-menu');
							yearsTitle[i].children[1].classList.add('show-chapter');
						} else {
							yearsTitle[i].classList.remove('active-menu');
							yearsTitle[i].children[1].classList.remove('show-chapter');
						}
					}


					for (var i = 0; i < sections.length; i++) {
						if(sections[i].offsetTop-5 <= window.scrollY && (sections[i].offsetHeight + sections[i].offsetTop) > window.scrollY+5) {
							chaptersTitle[i].classList.add('active-menu');
						} else {
							chaptersTitle[i].classList.remove('active-menu');
						}
					}
				});
			}
			onScroll();
		</script>

<%- include('partials/foot.ejs') %>
